apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: kong-backend-config
  namespace: default
spec:
  healthCheck:
    checkIntervalSec: 10
    timeoutSec: 5
    healthyThreshold: 2
    unhealthyThreshold: 2
    type: HTTP
    requestPath: /docs
    port: 8000
